.img {
  height: 260px;
  width: 260px;
  background-color: rgba(17, 202, 140, 0.759);

  border-radius: 10px;
}
.description {
  margin: 5px;
  padding: 10px;
  background-color: rgba(15, 172, 120, 0.719);

  text-align: center;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
.profile {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.experiencia {
  margin: 5px;
  padding: 10px;
  background-color: rgba(15, 172, 120, 0.719);

  border-radius: 20px;
}
h5 {
  background-color: rgba(147, 142, 142, 0.462);
  height: 1px;
  margin-bottom: 30px;
  margin-top: 30px;
}
p {
  padding: 15px;
  margin: 20px;
  text-align: center;
  color: black;
}
.iconos {
  margin: 5px;
}
.icono2 {
  height: 26px;
  width: 26px;
  margin-right: 5px;
}
h2 {
  text-align: center;
}
body {
  background-color: rgb(235, 235, 235);
}
.valoracion {
  padding: 10px;
  height: 500px;
}

.iconstar {
  width: 20px;
  height: 20px;
  text-emphasis-color: blue;
  margin: 10px;
}
.usuario {
  margin: 10px;
  align-items: flex-start;
  border: 1px skyblue solid;
}
.listExperience {
  overflow-y: scroll;
  height: 500px;
}
.usuario {
  background-color: white;
  border-radius: 8%;
}
