.img {
  height: 220px;
  width: 220px;
  border: 1px solid rgba(77, 147, 233, 0.29);
  border-radius: 10px;
}
.description {
  margin: 5px;
  padding: 10px;
  background-color: azure;
  text-align: center;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
.profile {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.experiencia {
  margin: 5px;
  padding: 10px;
  background-color: azure;
  border-radius: 20px;
}
h5 {
  background-color: rgba(147, 142, 142, 0.462);
  height: 1px;
  margin-bottom: 30px;
  margin-top: 30px;
}
p {
  padding: 15px;
  margin: 20px;
  text-align: center;
}
.iconos {
  margin: 5px;
}
.icono2 {
  height: 26px;
  width: 26px;
  margin-right: 5px;
}
h2 {
  text-align: center;
}
body {
  background-color: rgb(235, 235, 235);
}
.valoracion {
  padding: 10px;
  height: 300px;
}

.iconstar {
  width: 20px;
  height: 20px;
  fill: "#f65788";
}
.usuario {
  margin: 10px;
  align-items: flex-start;
  border: 1px skyblue solid;
}
.listExperience {
  overflow-y: scroll;
  height: 300px;
}
