.cards {
  margin: 0px;
  margin-left: 100px;
  margin-right: 100px;
  overflow-x: scroll;
  background-color: rgba(0, 174, 255, 0);
  border: 2px solid rgba(0, 0, 0, 0.014);
  border-radius: 10px;
  margin: 30px;
  height: 500px;
}
.card {
  min-width: 20rem;
  scrollbar-color: red rgba(0, 0, 255, 0);
  border: 1px solid;
  width: 300px;
  box-shadow: 5px 5px 8px 5px #1e1d1d00;
}
.cardoctor1 {
  height: 400px;
  background-color: rgba(15, 172, 120, 0.719);
  margin: 10px;
  display: flex;
}
.imgcard {
  height: 180px;
  width: 250px;
  margin-left: 35px;
}
.book {
  justify-content: center;
  align-items: center;
}
.title {
  color: rgba(0, 0, 0, 0.458);
  text-decoration: underline;
}
.card-text {
  margin: 0%;
  padding: 2px;
}
p {
  border-color: black;
}
